// {
//     "plugins": [
//         [
//             "module-resolver",
//             {
//                 "root": [
//                     "./src"
//                 ],
//                 "alias": {
//                     "teste": "./app-ui"
//                 }
//             }
//         ]
//     ]
// }